* {
    box-sizing: border-box !important;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    background: rgb(204,204,204);
}

body {
  background: rgb(204,204,204);
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1,
h2,
h3,
h4,
h5,
span,
ul,
li,
p {
    color: $grey-30;
}