@import "../../styles/variables";

$inputVerticalPadding: map-get($spacing__map, large);

.td-input {
    position: relative;
    width: 100%;
    padding: $inputVerticalPadding 0;
    font-size: 16px;
}

.td-input__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.td-input__label {
    position: absolute;
    font-size: 1em;
    pointer-events: none;

    transition-property: top, font-size, color;
    transition-duration: 350ms;
    transition-timing-function: cubitd-bezier(.4,0,.2,1);
}

.td-input__field {
    width: 100%;
    padding: map-get($spacing__map, medium) 0;

    border: none;
    border-bottom: 0.5px solid $grey-85;

    font-size: 1em;
    cursor: pointer;

    &:focus {
        outline-style: none;
    }
}

.td-input__highlight-bar {
    display: block;
    position: relative;
    height: 2px;
    width: 0;
    bottom: 1px;

    transition-property: width;
    transition-duration: 200ms;
    transition-timing-function: cubitd-bezier(.4,0,.2,1);
}

.td-input__input-count {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: $inputVerticalPadding * .8;
}

.td-input__highlight-bar.td--focus {
    width: 100%;
}

.td-input.td-input--active .td-input__label {
    font-size: $inputVerticalPadding * .8;
}

