.td-input__input {
    border-color: $grey-70;
}

.td-input__label,
.td-input__count {
    color: $grey-70;
    transition: color 250ms ease;
}

.td-input__input-accessories,
.td-input.td-input--focus .td-input__count,
.td-input.td-input--active .td-input__label {
    color: $primary-color;
}