$defaultColor: $tertiary-pastel-color;

.td-input__label {
    color: $grey-70;
}

.td-input__field {
    background-color: inherit;
    color: $grey-30;
}

.td-input__highlight-bar {
    background-color: $defaultColor;
}

.td-input__input-count {
    color: $grey-70;
}

.td-input.td-input--active .td-input__label {
    color: $defaultColor;
}