.td-input__inner {
    border-color: $grey-70;
}

.td-input__icon,
.td-input__label,
.td-input__count {
    color: $grey-70;
}

.td-input__input::placeholder {
    color: $grey-80;
}

.td-input__input-accessories,
.td-input.td-input--focus .td-input__count,
.td-input.td-input--focus .td-input__icon,
.td-input.td-input--focus .td-input__label {
    color: $primary-color;
}

.td-input.td-input--error {
    .td-input__inner {
        border-color: $fail-color;
    }

    .td-input__label,
    .td-input__count,
    .td-input__error {
        color: $fail-color;
        transition: color 250ms ease;
    }

    .td-input__icon,
    .td-input__input-accessories,
    .td-input.td-input--focus .td-input__count,
    .td-input.td-input--active .td-input__label {
        color: $fail-color;
    }
}

.td-input.td-input--disabled {
    .td-input__icon,
    .td-input__label,
    .td-input__count,
    .td-input__input {
        color: $grey-85;
    }

    .td-input__input {
        color: $grey-85;
    }
}
