{
    "presets": [
        ["es2015", {"modules": false}],
        "react"
    ],
    "plugins": [
        ["transform-runtime", {
            "polyfill": false,
            "regenerator": false
        }],
        "transform-object-rest-spread",
        "transform-class-properties"
    ],
    "env": {
        "commonjs": {
            "presets": [
                "es2015",
                "react"
            ],
            "plugins": [
                "transform-class-properties"
            ]

        }
    }
}
