@import "../../styles/variables";

.td-button {
    min-height: $min-tap-target-size;
    min-width: $min-tap-target-size;
    padding: map-get($spacing__map, medium);
    border: 0;

    font-size: 15px;
    font-weight: normal;
    line-height: 1.2em;
    text-align: center;
    cursor: pointer;
}

.td-button__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.td-button__icon {
    height: 1.2em;
    width: 1.2em;
}

.td-button__text {
    text-align: center;
    line-height: 1.2em;

    &.td--icon-text {
        margin-left: map-get($spacing__map, x-small);
    }
}