@import "../../styles/variables";

// Button Styles
// 1. Ensure that the button element is the one triggering events.

.td-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    min-height: $min-tap-target-size;
    min-width: $min-tap-target-size;
    padding: map-get($spacing-map, small);
    margin: 0;
    border: 0;
    border-radius: 2px;
    outline: none;

    font-size: 1em;
    font-weight: normal;
    line-height: 1.2em;
    text-align: center;
    text-decoration: none;
    pointer-events: initial;
    cursor: pointer;
}

.td-button.td--button-disabled {
    pointer-events: none;
}

.td-button__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    color: inherit;
    pointer-events: none; // 1
}

.td-button__icon {
    height: 1.2em;
    width: 1.2em;
    color: inherit;
}

.td-button__text {
    text-align: center;
    line-height: 1.2em;
    color: inherit;

    &.td--icon-text {
        margin-left: map-get($spacing-map, x-small);
    }
}