@import "../../styles/variables";

$primaryButtonColor: $primary-color;
$secondaryButtonColor: $secondary-color;
$tertiaryButtonColor: $tertiary-color;

.td-button {
    background: none;
    opacity: 1;
    transition: all 250ms;

    &:hover {
        opacity: .8;
    }
}

.td-button.td--primary {
    color: white;
    background-color: $primaryButtonColor;
}

.td-button.td--secondary {
    color: white;
    background-color: $secondaryButtonColor;
}

.td-button.td--tertiary {
    background-color: transparent;
    border: 1px solid $tertiaryButtonColor;
    color: $tertiaryButtonColor;
}

.td-button.td--button-disabled {
    &.td--primary {
        background-color: $grey-80;
    }

    &.td--secondary {
        background-color: $grey-80;
    }

    &.td--tertiary {
        color: $grey-80;
        border-color: $grey-80;
    }
}