@import "../../styles/variables";

$primaryButtonColor: #26A69A;
$secondaryButtonColor: #EF5350;
$tertiaryButtonColor: #0097A7;

.td-button {
    border-radius: 2px;
    color: white;

    transition:
        color 250ms,
        background 250ms,
        border 250ms,
        opacity 250ms;
}

.td-button__text {
    color: inherit;
}

.td-button.td--primary {
    background-color: $primaryButtonColor;

    &:hover {
        opacity: .8;
    }
}

.td-button.td--secondary {
    background-color: $secondaryButtonColor;

    &:hover {
        opacity: .8;
    }
}

.td-button.td--tertiary {
    background-color: transparent;
    border: 1px solid $tertiaryButtonColor;
    color: $tertiaryButtonColor;

    &:hover {
        opacity: .8;
    }
}

.td-button.td--button-disabled {
    pointer-events: none;

    &.td--primary {
        background-color: $grey-80;
    }

    &.td--secondary {
        background-color: $grey-80;
    }

    &.td--tertiary {
        color: $grey-80;
        border-color: $grey-80;
    }
}