@import "../../styles/variables";

.td-tabs {
    position: relative;
    display: flex;
    flex-direction: row;

    height: $min-tap-target-size;
    width: 100%;

    border-width: 0 0 1px;
    border-style: solid;
    border-color: currentColor;
}

.td-tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
}

.td-tabs__slider {
    $slider-height: 3px;

    position: absolute;
    bottom: -$slider-height / 2;
    height: $slider-height;
}

.td-tab,
.td-tabs__slider {
    transition: all;
    transition-duration: $default-animation-duration;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}
