.td-icon-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.td-icon-label__label {
    display: flex;
    justify-content: center;
    align-items: center;
}