// Constants
// ---
$base-px-unit: 4px;
$default-border-radius: 5px;
$default-bar-height: 44px;
$min-tap-target-size: 44px;
$default-animation-duration: 500ms;

// Media Query Breakpoints
$media-breakpoints: (
    phone: 640px,
    tablet: 768px,
    desktop: 1024px
) !default;

// Spacing Units
// ---
$spacing-map: (
    x-small: $base-px-unit,
    small: $base-px-unit * 2,
    medium: $base-px-unit * 3,
    large: $base-px-unit * 4,
    x-large: $base-px-unit * 5,
);

// Neutral
// ---
$grey-97: hsl(0, 0%, 97%);
$grey-92: hsl(0, 0%, 92%);
$grey-85: hsl(0, 0%, 85%);
$grey-80: hsl(0, 0%, 80%);
$grey-75: hsl(0, 0%, 75%);
$grey-70: hsl(0, 0%, 70%);
$grey-60: hsl(0, 0%, 50%);
$grey-50: hsl(0, 0%, 50%);
$grey-40: hsl(0, 0%, 40%);
$grey-30: hsl(0, 0%, 30%);
$grey-20: hsl(0, 0%, 20%);

// Colours
// ---
$primary-color: #00DA91;
$secondaryColor: #FF6560;
$tertiary-color: #00ACC1;
$primary-pastel-color:  #A8E7D2;
$secondary-pastel-color: #F6D6D5;
$tertiary-pastel-color: #60C8D6;

$success-color: #5DC2A0;
$fail-color: #E67773;
$dark-overlay-color: hsla(0, 0%, 0%, 0.6);
$disabled-color: $grey-70;

// Layers
// ---
$z-1: 9;
$z-2: 99;
$z-3: 999;
$z-4: 9999;