@import "../../styles/variables";

.td-sliding-sheet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;
    background-color: $dark-overlay-color;

    animation-duration: 250ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: $z-3;
}

.td-sliding-sheet.td-sliding-sheet--fade-in {
    animation-name: overlayFadeIn;
}

.td-sliding-sheet.td-sliding-sheet--fade-out {
    animation-name: overlayFadeOut;
}

.td-sliding-sheet__sheet {
    position: absolute;
    max-width: 100vw;
    max-height: 100vh;

    background-color: white;
}

.td-sliding-sheet.td-sliding-sheet--up .td-sliding-sheet__sheet,
.td-sliding-sheet.td-sliding-sheet--down .td-sliding-sheet__sheet {
    width: 600px;
}

.td-sliding-sheet.td-sliding-sheet--left .td-sliding-sheet__sheet,
.td-sliding-sheet.td-sliding-sheet--right .td-sliding-sheet__sheet {
    height: 100%;
}

.td-sliding-sheet.td-sliding-sheet--up .td-sliding-sheet__sheet {
    bottom: 0;
}

.td-sliding-sheet.td-sliding-sheet--down .td-sliding-sheet__sheet {
    top: 0;
}

.td-sliding-sheet.td-sliding-sheet--left .td-sliding-sheet__sheet {
    right: 0
}

.td-sliding-sheet.td-sliding-sheet--right .td-sliding-sheet__sheet {
    left: 0
}

@-webkit-keyframes overlayFadeOut {
    from { background-color: $dark-overlay-color; }
    to { background-color: transparent; }
}

@-webkit-keyframes overlayFadeIn {
    from { background-color: transparent; }
    to { background-color: $dark-overlay-color; }
}

@keyframes overlayFadeOut {
    from { background-color: $dark-overlay-color; }
    to { background-color: transparent; }
}

@keyframes overlayFadeIn {
    from { background-color: transparent; }
    to { background-color: $dark-overlay-color; }
}