.td-search-bar__icon,
.td-search-bar__button,
.td-search-bar__input-accessories {
    transition: color 250ms ease;
}

.td-search-bar__input-accessories {
    color: $primary-color;
}
.td-search-bar.td-search-bar--focus {
    .td-search-bar__icon,
    .td-search-bar__button {
        color: $primary-color;
    }
}

.td-search-bar__input-wrapper,
.td-search-bar__icon,
.td-search-bar__input-label {
    color: $grey-70;
}

.td-search-bar.td-search-bar--disabled {
    .td-search-bar__input-wrapper,
    .td-search-bar__icon,
    .td-search-bar__input-label {
        color: $grey-85;
    }
}