@import "../../styles/variables";
$theme-color: $tertiary-color;

.td-editable-label {
    display: inline;
    position: relative;
    min-height: 1.2em;
    padding: map-get($spacing-map, small);

    font-size: 1em;
    outline: none;
    border-radius: 3px;
    border: none;
    background-color: white;
    transition: border 250ms ease;
    overflow: hidden;
}

.td-editable-label.td--editable-label-active {
    border-width: 1px;
    border-style: solid;
    border-color: $theme-color;
}

.td-editable-label__icon.td-button.td--primary {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    min-height: initial;
    min-width: initial;
    padding: 0;

    color: white;
    background-color: rgba($theme-color, .6);
}

.td-editable-label__icon:focus {
    outline: none;
}

.td-editable-label__icon.td--icon-fade-in {
    animation: fadeIn;
    animation-timing-function: ease-in-out;
    animation-duration: $default-animation-duration;
    animation-fill-mode: forwards;
}

.td-editable-label__icon.td--icon-fade-out {
    animation: fadeOut;
    animation-timing-function: ease-in-out;
    animation-duration: $default-animation-duration;
    animation-fill-mode: forwards;
}

.td-editable-label__label {
    display: -webkit-inline-flex;
    display: inline-flex;
    line-height: 1.2em;

    padding: 0;
    margin: 0;
    width: 100%;

    border: none;
    font-size: 1em;
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.td-editable-label__label:focus {
    outline: none;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}