.td-accordion {
    width: 100%;
}

.td-accordion__item {
    width: 100%;
}

.td-accordion__header {
    width: 100%;
    cursor: pointer;
}

.td-accordion__header-inner {
    width: 100%;
    pointer-events: none;
}

.td-accordion__item-content {
    width: 100%;
    overflow: hidden;
}